@page
@model RazorPizza.Pages.PizzaSaleModel
@{
    ViewData["Title"] = "Pizza Sale";
}
 Pizza Sale

<a asp-page="/Checkout/Checkout">Checkout</a>


<div class="container">
    <div class ="row text-center">
        <div class="col-3"></div>
        <div class="col-3 bg-danger text-white">
            <img class="mainImage w-100"  src="~/images/Pizzas/Create.png"  alt="Create you own pizza"/>
        </div>
        <div class="col-3 bg-danger text-white p-4">
            <h1>Create your own pizza</h1>
            <a class="btn btn-dark mx-auto w-50" asp-page="/Forms/CustomPizza">TRY!</a>
        </div>
        <div class="col-3"></div>

    </div>

</div>